@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,400;0,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(7, 13, 37);
}

.nav img {
    width: 300px;
}

.nav {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -40px;
}


.text-container {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -50px;
    padding-bottom: 20px;
}

.text-container h1 {
    color: aliceblue;
}

.typing {
    color: white(49, 19, 52); /* Dark Purple color */
    display: inline-block;
}

.contact {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.contact button {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;   
    font-family: "Roboto", serif;
    border: none;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background: transparent;
    padding: 0;
    margin-bottom: -100px;
    margin-top: 30px;
}

.btn {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.btn span {
    display: block;
    position: relative;
    color: white;
    z-index: 1;
    margin-top: 10px;
    mix-blend-mode: difference;
}

.btn .btn-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(49, 19, 52);
    border-radius: 50px;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1), opacity 0.3s ease-in-out;
    overflow: hidden;
    z-index: 0;
}

.btn:hover .btn-bg {
    transform: scale3d(1.2, 1.2, 1);
}

.btn .btn-bg::before,
.btn .btn-bg::after {
    content: '';
    position: absolute;
    background: white;
}

.btn .btn-bg::before {
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.btn:hover .btn-bg::before {
    transform: translate(-50%, -50%) scale(1);
}

.btn .btn-bg::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}

.btn:hover {
    transform: scale(1.1); 
}

.btn:hover .btn-bg::after {
    opacity: 1;
}

@media (max-width: 450px) {

    .contact {
    padding-left: -10px;
    padding-right: -10px;
    }  
    .nav {
        margin-left: -30px;
    }
}
